// Layout
.game-view {
  display: grid;
  grid-template-columns: 1fr calc(84 * var(--op-size-unit));
  grid-template-rows: 1fr calc(56 * var(--op-size-unit));
  height: 100vh;
  overflow: auto;
}

.gf-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(10 * var(--op-size-unit)) 1fr;
  box-shadow: var(--op-border-all) var(--op-color-border);
  overflow: auto;

  // Modifiers
  &.gf-panel--large-header-row {
    grid-template-rows: calc(20 * var(--op-size-unit)) 1fr;
  }

  &.gf-panel--board-view {
    grid-area: 1 / 1 / 2 / 2;
  }

  &.gf-panel--feed-view {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--op-color-primary-plus-eight);
    color: var(--op-color-primary-on-plus-eight-alt);
  }

  &.gf-panel--hand-view {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--op-color-neutral-plus-seven);
    color: var(--op-color-neutral-on-plus-seven-alt);
  }

  &.gf-panel--book-view {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--op-color-neutral-plus-seven);
    color: var(--op-color-neutral-on-plus-seven-alt);
  }
}