// Root Variables
:root {
  --gf-card-border-radius: 8px;
}

.gf-emphasis {
  font-weight: var(--op-font-weight-semi-bold);
}

// Card Tray and Card Row
.card-tray--border-top {
  border-top: var(--op-border-width) solid var(--op-color-border);
}