// Root Variables
:root {
  --gf-card-border-radius: 8px;
}

// Header Panels
.header-panel--space-between {
  justify-content: space-between;
}

.game-board .header-panel {
  font-size: var(--op-font-3x-large);
}

.header-panel {
  font-size: var(--op-font-x-large);
}

.gf-emphasis {
  font-weight: var(--op-font-weight-semi-bold);
}

// Chat Text Bubbles
.chat_text-bubble {
  border-radius: var(--op-radius-x-large);
  padding: var(--op-space-small);
}

.text-bubble--ask {
  background: var(--op-color-primary-plus-five);
  color: var(--op-color-primary-on-plus-five-alt);
}

.text-bubble--fish {
  border: var(--op-border-width) solid var(--op-color-alerts-warning-plus-five);
  background: var(--op-color-alerts-warning-plus-seven);
  color: var(--op-color-alerts-warning-on-plus-seven-alt);
}

.text-bubble--draw {
  border: var(--op-border-width) solid var(--op-color-primary-plus-seven);
  background: var(--op-color-primary-plus-max);
  color: var(--op-color-primary-on-plus-max);
}

// Game Feed Actions
.actions__input-collection {
  display: flex;
  gap: var(--op-space-small);
}

.form-group {
  flex-grow: 1;
}

// Card Tray and Card Row
.card-tray--border-top {
  border-top: var(--op-border-width) solid var(--op-color-border);
}

.card-row {
  display: flex;
  overflow-x: auto;

  >*:not(:first-child) {
    margin-left: calc(-1 * var(--op-space-2x-large));
  }
}

.card-row--books {
  >* {
    height: 80%;
  }
}