@import '@rolemodel/optics/dist/scss/optics';

// Root Variables
:root {
  --gf-card-border-radius: 8px;
}

@mixin color-varieties {
  --op-color-primary-h: 40;
  --op-color-primary-s: 38;
  --op-color-primary-l: 40;
}

@mixin radius {
  --op-radius-small: 8px;
  --op-radius-medium: 16px;
  --op-radius-large: 24px;
  --op-radius-x-large: 32px;
  --op-radius-2x-large: 40px;
}

:root[data-theme='jullian-light'] {
  @include color-varieties;
  @include radius;
}

// Game View Layout
.game-view {
  display: grid;
  grid-template-columns: 1fr calc(84 * var(--op-size-unit));
  grid-template-rows: 1fr calc(56 * var(--op-size-unit));
  height: 100vh;
  overflow: auto;
}

.game-view--large-header-row {
  grid-template-rows: calc(20 * var(--op-size-unit)) 1fr;
}

// Individual Sections Layout
.game-board,
.game-feed,
.hand-view,
.book-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(10 * var(--op-size-unit)) 1fr;
  box-shadow: var(--op-border-all) var(--op-color-border);
  overflow: auto;
}

.game-board {
  grid-area: 1 / 1 / 2 / 2;
}

.game-feed {
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--op-color-primary-plus-eight);
  color: var(--op-color-primary-on-plus-eight-alt);
}

.hand-view {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--op-color-neutral-plus-seven);
  color: var(--op-color-neutral-on-plus-seven-alt);
}

.book-view {
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--op-color-neutral-plus-seven);
  color: var(--op-color-neutral-on-plus-seven-alt);
}

// Header Panels
.header-panel {
  box-shadow: var(--op-border-bottom) var(--op-color-border);
  display: flex;
  align-items: center;
  padding-inline: var(--op-space-large);
  gap: var(--op-space-large);
}

.header-panel--space-between {
  justify-content: space-between;
}

.game-board .header-panel span {
  font-size: var(--op-font-3x-large);
}

.header-panel span {
  font-size: var(--op-font-x-large);
}

.gf-emphasis {
  font-weight: var(--op-font-weight-semi-bold);
}

// Game Feed Content
.game-feed_content {
  display: flex;
  padding: var(--op-space-medium);
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.game-feed_content_chat {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;
  gap: var(--op-space-small);
}

// Chat Text Bubbles
.chat_text-bubble {
  border-radius: var(--op-radius-x-large);
  padding: var(--op-space-small);
}

.text-bubble--ask {
  background: var(--op-color-primary-plus-five);
  color: var(--op-color-primary-on-plus-five-alt);
}

.text-bubble--fish {
  border: var(--op-border-width) solid var(--op-color-alerts-warning-plus-five);
  background: var(--op-color-alerts-warning-plus-seven);
  color: var(--op-color-alerts-warning-on-plus-seven-alt);
}

.text-bubble--draw {
  border: var(--op-border-width) solid var(--op-color-primary-plus-seven);
  background: var(--op-color-primary-plus-max);
  color: var(--op-color-primary-on-plus-max);
}

// Game Feed Actions
.game-feed_content_actions {
  padding: var(--op-space-small);
  border-radius: var(--op-radius-x-large);
  border: var(--op-border-width) solid var(--op-color-primary-plus-six);
  background: var(--op-color-primary-plus-seven);
  color: var(--op-color-primary-on-plus-seven);
  display: flex;
  flex-direction: column;
}

.actions__input-collection {
  display: flex;
  gap: var(--op-space-small);
}

.form-group {
  flex-grow: 1;
}

// Player Area
.player-area {
  display: flex;
  flex-direction: column;
  gap: var(--op-space-x-small);
  padding-top: var(--op-space-2x-large);
  padding-inline: var(--op-space-3x-large);
  overflow: auto;
}

// Accordion Group
.accordion-group {
  display: flex;
  flex-direction: column;
  gap: var(--op-space-x-small);
  overflow: auto;
}

.accordion {
  border-radius: var(--op-radius-medium);
  border: var(--op-border-width) solid var(--op-color-border);
  max-width: var(--op-breakpoint-medium);
}

.accordion summary {
  gap: var(--op-space-x-large);
  padding: var(--op-space-small);
  border-top-left-radius: var(--op-radius-medium);
  border-top-right-radius: var(--op-radius-medium);
}

.player-info {
  display: flex;
  justify-content: space-between;
}

.accordion[open] {
  border: var(--op-border-width) solid var(--op-color-primary-plus-four);

  summary {
    background: var(--op-color-primary-plus-eight);
    color: var(--op-color-primary-on-plus-eight-alt);

    .accordion__marker {
      border-radius: var(--op-radius-circle);
      box-shadow: var(--op-border-all) var(--op-color-primary-plus-three);
      background: var(--op-color-primary-plus-five);
      color: var(--op-color-primary-on-plus-five);
    }
  }

  .card-tray--border-top {
    border-top: var(--op-border-width) solid var(--op-color-primary-plus-four);
  }
}

// Card Tray and Card Row
.card-tray {
  padding: var(--op-space-medium);
  display: flex;
  justify-content: space-between;
  gap: var(--op-space-medium);
  overflow: auto;
}

.card-tray--border-top {
  border-top: var(--op-border-width) solid var(--op-color-border);
}

.card-row {
  display: flex;
  overflow-x: auto;

  >*:not(:first-child) {
    margin-left: calc(-1 * var(--op-space-2x-large));
  }
}

.card-row--books {
  >* {
    height: 80%;
  }
}

// Playing Card
.playing-card {
  border-radius: var(--gf-card-border-radius);
  border: var(--op-border-width) solid var(--op-color-primary-base);
  // TODO: fix bottom-right corner of shadow
  box-shadow: var(--op-shadow-x-large);
  filter: brightness(1.5);
  aspect-ratio: 3 / 4;
}