@import '@rolemodel/optics/dist/scss/optics';

.sidebar {
  box-shadow: var(--op-border-all) var(--op-color-primary-base);
}

.options {
  height: 15%;
}

.card-tray {
  height: 20%;
  display: flex;
  flex-direction: row;
  background-color: var(--op-color-neutral-plus-six);
  color: var(--op-color-neutral-on-plus-six);
  box-shadow: var(--op-border-all) var(--op-color-primary-base);
}

.card-row {
  display: flex;
  flex-direction: row;
  gap: var(--op-space-small);
}

.playing-card {
  box-shadow: var(--op-border-all) var(--op-color-primary-base);
}

.hand-display {
  flex-grow: 0.5;
}

.book-display {
  flex-grow: 0.5;
}

.game-container {
  height: 80%;
  display: flex;
  flex-direction: row;
  gap: var(--op-space-small);
}

.players {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: var(--op-space-small);
  align-items: center;
}

.accordion summary {
  display: block !important;
  margin-top: var(--op-space-small);
  margin-bottom: var(--op-space-small);
}

.accordion-content {
  display: flex;
  flex-direction: row;
  gap: var(--op-space-small);
}

.accordion-playing-card {
  width: 10%;
  height: auto;
}

.player-data {
  width: 90%;
}

.player-info {
  margin-right: var(--op-space-small);
}

.ask-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: var(--op-space-2x-small);
  margin-top: auto;
}

.align-start {
  align-self: flex-start;
}

.player-btn {
  width: 90%;
}

.game-feed {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.feed {
  width: 70%;
  flex-grow: 1;
  background-color: var(--op-color-primary-plus-six);
  color: var(--op-color-primary-on-plus-six);
  display: flex;
  flex-direction: column;
}

.text-box {
  margin-top: auto;
}