.panel-body {
  display: flex;
  padding: var(--op-space-medium);
  overflow: auto;

  &.panel-body--feed {
    flex-direction: column;
    justify-content: space-between;
  }

  &.panel-body--players {
    flex-direction: column;
    gap: var(--op-space-x-small);
    padding-top: var(--op-space-2x-large);
    padding-inline: var(--op-space-3x-large);
  }
}